@model IEnumerable<MusicShop.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<style>
    .table {
        vertical-align: middle;
    }
</style>
<h1>Поръчки</h1>

<p>
    <a class="btn btn-primary"asp-action="Create">Поръчай си</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Музикален инструмент
            </th>
            <th>
                Клиент
            </th>
            <th>
                Количество
            </th>
            <th>
                Дата на поръчката
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
                    @item.Clients.Name @item.Clients.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) броя
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
