@model IEnumerable<MusicShop.Data.Product>

@{
    ViewData["Title"] = "Index";
}
<style>
    .table{
        vertical-align:middle;
    }
</style>
<h1>🎺Ела и посвири с най-яките ни инструменти🎻</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Музикален инструмент
            </th>
            <th>
                Марка
            </th>
            <th>
                Цена
            </th>
            <th>
                Категория
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="110" /></a>
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) лв.
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Categories.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
          
            </tr>
        }
    </tbody>
</table>
